@charset "utf-8";
/* CSS Document */

/*Welcome section*/

/*Navbar styles*/
header {
	background: #FF983C;
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	display: block;
	position: relative;
	width: 100%;
	z-index: 1000;
	
}
header > nav > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
	
}
header > nav > ul > li {
	flex: 0 1 auto;
	margin: 0;
	padding: 0;
	position: relative;
	transition: all linear 0.1s;
}
header > nav > ul > li:hover {
	background: #ffac62;
	color: #fff !important;
	text-decoration: none !important;
	
}
header > nav > ul > li a + div {
	background: #FF983C;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 3px 1px rgba(0,0,0,.05);
	display: none;
	font-size: 1rem;
	position: absolute;
	width: 195px;
}
header > nav > ul > li:hover a + div {
	display: block;
	
}
header > nav > ul > li a + div > ul {
	list-style-type: none;
	
}
header > nav > ul > li a + div > ul > li {
	margin: 0;
	padding: 0;
}
/*List style*/
header > nav > ul > li a + div > ul > li > a {
	color: rgba(255,255,255,.9);
	display: block;
	font-size: 10px;
	padding: .25rem 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}
header > nav > ul > li a + div > ul > li:hover > a {
	color: #fff;
	background-color: #ffac62;
	text-decoration: none;
}
header > nav > ul > li > a {
	align-items: flex-start;
	color: #fff;
	display: flex;
	font-size: 1.55rem;
	font-weight: 200;
	letter-spacing: 1px;
	max-width: 130px;
	padding: 1rem 1.5rem;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	transition: all linear 0.1s;
}
@media screen and (min-width: 1001px){
	.mobile-header{
	visibility: hidden;
    display: none;
	}
}
@media screen and (max-width: 1000px) {
  .header-max{
    visibility: hidden;
    display: none;
  }
}
@media (max-width: 1000px){
	.mobile-header{
		height: 60px;
	}
	.logo{
		text-align: center;
	}
}
.listed{
	text-decoration: none;
}
.listed:hover{
	text-decoration: none;
	color: #fff;
}

@media (min-width: 990px) {
header > nav > ul > li > a {
	max-width: 500px;
	font-size: 1.7rem;
	line-height: 2rem;
}
header > nav > ul > li > a > div > span {
	margin: 4px 0 0;
}
}
/*Welcome block Styles*/
.welcome {
	position: relative;
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	
	
}

.phone{
	display: table;
	color: #fff;
	text-shadow: 2 2 3 #434343;
	padding-left:15%;
	margin-top: 125px;
}
.phone-content{
	display: table;
	
}
.phone-content-inside{
	display: table-cell;
}
.wcm {
	background-color: #5081b3 !important;
}
.wcm h1 {
	color: white;
	text-shadow: 2px 2px 3px #434343;
}
.wcm p {
	color: white;
}
.agileits-contact-info {
	
    float: left;
}
.agileits-contact-info ul li {
    display: inline-block;
    font-size: 14px;
	color:#fff;
}
.agileits-contact-info ul li span {
    margin-right: 10px;
    color: #FF983C;
}
.agileits-contact-info ul li:nth-child(2) {
    margin-left: 25px;
}
.agileits-contact-info ul li a {
    color: #fff;
    vertical-align: text-bottom;
}
.agileits-contact-info ul li a:hover {
    color: #fff;
}
.w3_agileits_social_media{
	float:right;
}
.w3_agileits_social_media ul li{
	display: inline-block;
    font-weight: 600;
    margin: 0 1em;
}
.w3_agileits_social_media ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
}
.agileinfo_share{
    margin-right: 1em !important;
	color:#fff;
}
.w3_agileits_social_media ul li a.wthree_facebook:hover{
	color:#3b5998;
}
.w3_agileits_social_media ul li a.wthree_twitter:hover{
	color:#1da1f2;
}
.w3_agileits_social_media ul li a.wthree_dribbble:hover{
	color:#ea4c89;
}
.w3_agileits_social_media ul li a.wthree_behance:hover{
	color:#1769ff;
}
.w3l_banner_info{
	width: 90%;
    margin: 11em auto 0;
	text-align:center;
}
.agile-header {
    margin: 20px 0 0 0;
    border-top: 1px solid #fff; 
	height: 20px;
}
/*Welcome block Styles end*/
/*--contact--*/
.contact-right-w3-agile form {
	margin-top: 12px;
	color: #777;
}
.contact-right-w3-agile input[type="text"] {
	background: transparent;
	border: 2px solid #212121;
	padding: 8px 22px;
	width: 49.42%;
	outline: none;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.contact-right-w3-agile input[type="text"]:hover {
	border-color: #FF983C;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.contact-right-w3-agile input[type="text"]:nth-child(1) {
	margin-right: 8px;
}
.contact-right-w3-agile textarea {
	background: none;
	border: 2px solid #212121;
	padding: 10px 23px;
	margin-top: 24px;
	outline: none;
	resize: none;
	width: 100%;
	height: 230px;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.contact-right-w3-agile textarea:hover {
	border-color: #FF983C;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.contact-right-w3-agile form input[type="submit"] {
	color: #fff;
	font-size: 17px;
	padding: 4px 0px;
	margin-top: 25px;
	width: 15%;
	background: #212121;
	border: 2px solid #212121;
	outline: none;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.contact-right-w3-agile form input[type="submit"]:hover {
	color: #fff;
	background: #FF983C;
	border: 2px solid #FF983C;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.contact-right-w3-agile label {
	width: 30px;
	height: 4px;
	background: #62A0EC;
	display: block;
	margin: 0px 30px 35px 0px;
}
.contact {
	padding: 5em 0;
}
.contact-right-w3-agile {
	margin-top: 5em;
}
.map iframe {
	width: 100%;
	border: none;
	min-height: 400px;
}
/*--contact--*/
/*--Footer Style--*/
.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}
/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}
/* The company logo */

.footer-distributed h3 {
	color: #ffffff;
	margin: 0;
}
.footer-distributed h3 span {
	color: #5383d3;
}
/* Footer links */

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}
.footer-distributed .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	vertical-align: bottom;
	text-align: center;
	margin-top: 5%;
}
/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}
.footer-distributed .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}
.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}
.footer-distributed .footer-center p a {
	color: #5383d3;
	text-decoration: none;
	;
}
/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}
.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons {
	margin-top: 25px;
}
.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
.footer-distributed {
	font: bold 14px sans-serif;
}
.footer-distributed .footer-left,  .footer-distributed .footer-center,  .footer-distributed .footer-right {
	display: block;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}
.footer-distributed .footer-center i {
	margin-left: 0;
}
}
/*-- welcome --*/

.welcome-top {
	text-align: center;
}
.welcome-top h4 {
	font-size: 22px;
	margin: 0em 0 0;
	color: #666;
	font-weight: 600;
}
.welcome-top p {
	font-size: 14px;
	line-height: 28px;
	color: #777;
	margin: 1em auto;
	width: 70%;
}
.charitys {
	margin-top: 3em;
}
.chrt_grid {
	text-align: center;
}
.chrt_grid .icon {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: #fff;
	margin: 0 auto;
	text-align: center;
	position: relative;
	border: 2px solid #FF983C;
}
.chrt_grid .icon img {
	position: relative;
	z-index: 100;
	transition: all 0.3s ease 0s;
}
.chrt_grid .icon:before {
	content: '';
	width: 102%;
	height: 102%;
	border-radius: 50%;
	background: #FF983C;
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 10;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	transition: all 0.3s ease 0s;
}
.chrt_grid:hover .icon img {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
.chrt_grid:hover .icon:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.glyphicon-heart, .glyphicon-asterisk, .glyphicon-flag {
	color: #212121;
	font-size: 35px;
}
.glyphicon-icon {
	position: relative;
	top: 26px;
	display: block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	text-align: center;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: 999;
}
.chrty h3 {
	font-size: 22px;
	color: #000;
	letter-spacing: 2px;
	font-weight: 600;
	margin-top: 22px;
}
.chrty p {
	font-size: 14px;
	line-height: 28px;
	color: #777;
	padding-top: 16px;
}
.banner-grid1 h5 {
	font-size: 20px;
	line-height: 32px;
	font-weight: 600;
	color: #FF983C;
	letter-spacing: 2px;
}
.banner-grid1 p {
	font-size: 14px;
	line-height: 28px;
	color: #777;
	padding-top: 16px;
}
.banner-grids {
	margin-top: 6em;
}
/*-- //welcome --*/

/*--client--*/
.client {
	background: url(../images/client.jpg) center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	padding: 6em 0;
	text-align: center;
}
.quotes img {
	width: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-mox-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
p.w3l {
	font-size: 14px;
	color: #fff;
	width: 70%;
	margin: 0 auto;
	line-height: 28px;
}
.de_testi_by, .de_testi_by a {
	color: #FF983C;
	font-size: 0.9em;
	margin: 17px 0 0 0;
}
.de_testi {
	margin: 0;
	border: none;
	padding: 3em 3em;
	background: rgba(0, 0, 0, 0.73);
	font-style: normal;
	line-height: 1.6em;
	font-weight: 400;
	text-align: left;
	color: #fff;
	font-size: 0.9em;
}
.quotes {
	float: left;
	width: 15%;
	margin-top: 1em;
}
.de_testi_by {
	float: right;
	width: 78%;
}
.de_testi_by p {
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	line-height: 2em;
}
.customer-say {
	margin-top: 5em;
}

/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 481px) {
.hide-on-mobile {
	display: none;
}
}
.float-menu {
	float: right;
	padding-top: 5%;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, " sans-serif";
	line-height: 25px;
}
.float-menu li {
	list-style-type: none;
}
.float-menu a {
	color: #FF983C;
}
ul {
	list-style-type: none;
	padding: 0;
}
.float-mobile-menu {
	text-align: center;
	line-height: 30px;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, " sans-serif";
	text-transform: uppercase;
	margin-top: 5%;
}
.float-mobile-menu li {
	list-style-type: none;
}
.float-mobile-menu a {
	color: #FF983C;
}
/*-- what --*/
.what-left {
	float: left;
	width: 15%;
	text-align: center;
}
.what-right {
	float: right;
	width: 83%;
}
.what-grid1 h4, .what-grid h4 {
	font-size: 22px;
	color: #000;
	letter-spacing: 2px;
	font-weight: 600;
}
.what-w3ls {
	padding: 6em 0;
}
.what-grids {
	margin-top: 6em;
}
.what-grid1 p, .what-grid p {
	font-size: 14px;
	color: #777;
	line-height: 28px;
	padding-top: 10px;
}
.what-grid1 i {
	height: 60px;
	width: 60px;
	margin: 3px;
	font-size: 1.5em;
	border-radius: 50%;
	line-height: 60px;
	text-align: center;
	background: #FF983C;
	color: #fff;
}
.what-top1 {
	margin: 2em 0;
}
.w3ls_head {
	font-size: 36px;
	color: #FF983C;
	font-weight: 600;
	margin-bottom: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}
.what-grid {
	padding-right: 130px;
}
.what-agile-info {
	margin-top: 30px;
	border-left: 3px solid #FF983C;
	padding: 0 0px 0 20px;
}
p.w3agile {
	font-size: 14px;
	color: #777;
	width: 70%;
	margin: 0 auto;
	line-height: 28px;
	text-align: center;
}
/*-- //what --*/

/*Jumbotron style*/
.jumb {
	background-color: #89b9f7;
}
/*Contact form style*/
.contact-section {
	background-image: url(../images/background.jpg);
}
.contact-form {
	background-color: #fff;
	border-radius: 5px;
	border: thin !important;
	border-color: #434343 !important;
	border-width: 2px !important;
}
/*Promo section styles*/

#logo-holder {position:relative; width:250px; height:250px; margin: auto;/*dimensions of image*/}
#logo-holder .image,
#logo-holder .text {transition: opacity 0.5s ease-in-out;}
#logo-holder .text {position:absolute; top:0; left:0; opacity:0;}

#logo-holder:hover .image {opacity:0;}
#logo-holder:hover .text {opacity:1;}

.image-content{
	border: solid;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.box-content{
   text-align: center;
	border: solid;
	border-radius: 5px;
	background-color: #337ab7;
	width: 250px;
	height: 250px;
	
}
.box-content ul{
	border-radius: 5px;
	
}
.box-content li{
	
	text-transform: uppercase;
	padding: 2.5px 2.5px 2.5px 2.5px;
	color: #fff;
	margin-top: 1.25px;
	
	
}
.box-content li:hover{
	background-color: #5b94c5;
}

.box-content a{
	color: #fff;
	
}

.box-content a:hover{
	
	text-decoration: none;
	color: #fff;
}
.modal-box{
	text-align: center;
}
.modal-box-footer{
	text-align: center !important;
	
}

.modal-box input{
	width: 75%;
	margin: auto;
	
}

.modal-box textarea{
	width: 75%;
	margin: auto;
}


.modal-box-header{
	background-color: #FF983C;
	border-radius: 5px 5px 0px 0px;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, " sans-serif";
	color: #fff;
}
.modal-box-head{
	text-align: center;
	text-transform: uppercase;
}

.offers-style button{
	text-decoration: none;
	color: #fff;
}

.offers-style button:visited{
  color:#fff;
}

.offers-style a{
	color: #fff;
}

.offers-style a:visited{
	color: #fff;
	text-decoration: none;
}